/* tablet devices */

@media screen and (min-width: 1200px) {
    .works {width: 1200px; margin: 0 auto}
    }

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .logo {padding: 0 1% 0 2%;}

    .nav {margin-left: 5%}

    .search {margin: 0}
    .search_field {padding: 0; margin: 0}

    .slider {width: 48em;}

    .more {left: 16em; padding: 0.5em}

    .laptop {width: 75%; left: 13.5%; top: 38.9%}
    .pano {width: 75%; left:14%; top: 20%;}

    .pano {left: 9%;}

    .bill_1 {left: 1em;}

    .bx-wrapper .bx-prev {left: 2.25em}
    .bx-wrapper .bx-next {right: 2.25em}

    .block {padding-top: 3em;}

    .works img {max-width: 100%; width: 33%}

    .services .last {padding-top: 0}

    .portfolio h3 {padding-top: 25px}

    .clients .bx-wrapper {width: 39.375em;}

    .bottom {padding-bottom: 50px;}

    .social {margin-right: 1em;}
    .footer-menu {margin-left: 1em;}
}

@media screen and (min-width: 481px) and (max-width: 800px) {
    .slider {width: 26em}

    .nav {display: none}

    .menu-toggle {
        display: inline-block;
        float: right;
        padding-top: 2.5em;
        padding-right: 10%;
    }

    .search {margin-right: 0; float: left; padding-top: 2.5em}
    .search_field {padding-left: 0.5em; margin-right: 0}

    .billboard {height: 332px}

    .bx-viewport {height: 350px}
    .bxslider li {height: 350px}
    .bx-wrapper .bx-controls-direction a {top: 65%}
    .bx-wrapper .bx-prev {left: 1.25em}
    .bx-wrapper .bx-next {right: 1.25em}

    .bill_1 {left: 3em; top: 0.5em}
    .bill_1, .more {font-size: 1.3em}
    .more {left: 7em; top: 3.5em; margin-left: 0;}
    .laptop {width: 75%; left: 17%; top: 50.6%}
    .pano {width: 73%; left: 16%; top: 36%}

    .block {padding-top: 1em; padding-right: 0}

    .portfolio h3 {padding-top: 25px}
    .works img {max-width: 100%; width: 50%}

    .clients h3 {padding: 1em 1em}
    .clients .bx-wrapper {width: 22em;}
    .slider1 img {margin-right: 0}

    .bottom {padding-bottom: 40px}

    .footer .main {padding-left: 2em}

    .copyright {padding-bottom: 1em}
    .social {float: left; padding: 2% 5% 2% 2%;}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .slider {width: 18em}

    .logo {padding: 0 6% 0 3%}

    .nav {display: none}

    .menu-toggle {
        display: inline-block;
        float: right;
        padding-top: 2.5em;
        padding-right: 10%;
    }

    .search {display: none}
    .search_field {display: none}

    .billboard {height: 240px}

    .bx-viewport {height: 302px}
    .bxslider li {height: 302px}
    .bx-wrapper .bx-controls-direction a {top: 55%}
    .bx-wrapper .bx-prev {left: 0.25em}
    .bx-wrapper .bx-next {right: 0.25em}

    .bill_1 {left: 2em; top: 0.5em}
    .bill_1, .more {font-size: 1em}
    .more {left: 6.5em; top: 3em; margin-left: 0;}
    .laptop {width: 75%; left: 14%; top: 43.6%}
    .pano {width: 75%; left: 15%; top: 30%}

    .block {padding-top: 1em; padding-right: 0}
    .block p {padding: 0; margin: 0;}

    .portfolio h3 {padding: 5% 0 5% 5%}
    .works img {max-width: 100%; width: 90%}

    .clients h3 {padding: 5% 0 5% 5%}
    .clients .bx-wrapper {width: 12em;}
    .slider1 img {margin-right: 0; width: 100%}

    .bottom {padding-bottom: 40px}

    .footer .main {padding-left: 2em}

    .copyright {padding-bottom: 1em; padding-top: 0}
    .social {float: left; padding-top: 0; padding-bottom: 1em}

    .footer-menu {width: 14em}
    .footer-menu a {padding-bottom: 1em}
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    /* Dropdown menu for mobile version 1st level*/
    .triangle-wrapper {
        border: none;
        background: #c6cfd9;
        display: block;
        position: absolute;
        top: 6px;
        right: 10%;
        border-radius: 5px;
        width: 20px;
        height: 20px;
        padding: 3px;
    }

    .triangle-wrapper span {
        content: '';
        position: absolute;
        right: 25%;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #000000;
    }

    .triangle-wrapper .triangle-bottom {
        content: '';
        position: absolute;
        top: 35%;
        right: 12%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #000000;
    }

    .menu ul.nav {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        width: 100%;
        overflow: hidden;
    }

    .menu ul.nav li {
        font-size: 1.1em;
        background: #e2e7ed;
        border-right: none;
        padding: 10px 0 10px 5%;
        margin: 0 0 2px 0;
        display: block;
        width: 100%;
    }

    .menu ul.nav li a {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        width: 100%;

    }

    /* Dropdown menu for mobile version 2nd level*/
    .menu .sub-menu {
        width: 100%;
        position: relative;
        left: auto;
        top: auto;
    }

    .menu li:hover .sub-menu {
        overflow: hidden;
        padding-top: 5px;
        margin-top: 10px;
    }

    .menu li:hover .sub-menu a {
        color: #31333e;
        width: 95%;
    }

    /*.menu li:hover .sub-menu a:hover {*/
        /*color: #00aeff;*/
    /*}*/

    .menu .sub-menu ul li {
        background: #c6cfd9;
        margin-bottom: 2px;
        width: 85%;
        clear: both;
        border-radius: 5px;
    }
}